img{
    width: 50px;
    border-radius: 50%;
    
}
h5{
    display: inline;
    margin-top: 3px;
    /* margin-left: 5px; */
    /* border: 2px solid green; */
}
.cantainer{
    display: flex;
    /* border: 2px solid red; */
    gap: 10px;
}
.blankdiv{
    height: 40px;
}
