
li {
    border-radius: 3px;
    padding-left: 10px ;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;
}

body {
    /* font-family: 'lato', sans-serif; */
    color: #1c1d1d;
}

ul {
    padding-inline-start: 0;
}

.container {
    max-width: 600px;
    margin: auto;
}

.responsive-table {
    .table-header {
        background-color: #dde0e0;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}

input[type=checkbox] {
    height: 25px;
    width: 25px;
}

.delete_edit_btn {
    gap: 5px;
    /* color: #1c1d1d; */
    /* background-color: DodgerBlue; */
    border: none;
    /* color: blue; */
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  
}

.editinput {
    padding: 10px;
    width: 30%;
    padding-top: 5px;
    width: 62%;
}

input[type=text] {
    padding-top: 5px;
    width: 50%;
}